h1 {
    font-family: 'Rock Salt', cursive;
    margin:0;
    padding: 0;
}

a {
    background-color: rgba(0, 0, 0, 0); 
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;

    &.active {
          color:gold;
    }
}
    
    ul {
        color:rgb(124, 122, 122);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right:15px;
        li {
            list-style: none;
            font-family: 'Rock Salt', cursive;
            text-align: center;
            display: inline-block;
            margin-right:.5em;
            margin-left: .5em;
        }     
    
}

.clearBack {
    background-color: rgba(0, 0, 0, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');